body {
    background-color: #4585a3; /* Cor de fundo verde claro */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #ff8a80; /* Cor de fundo salmão */
    padding: 20px;
    color: #0c0c0c; /* Cor do texto branco */
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #161515; /* Cor do texto branco */
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #15992b; /* Cor do título verde */
  }
  
  footer {
    background-color: #df62529d; /* Cor de fundo salmão */
    padding: 20px;
    color: #080808; /* Cor do texto branco */
    text-align: center;
  }
  