body {
    background-color: #b3e5fc; /* Cor de fundo verde claro */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #ff8a80; /* Cor de fundo salmão */
    padding: 20px;
    color: #ffffff; /* Cor do texto branco */
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #ffffff; /* Cor do texto branco */
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #009688; /* Cor do título verde */
  }
  
  footer {
    background-color: #ff8a80; /* Cor de fundo salmão */
    padding: 20px;
    color: #ffffff; /* Cor do texto branco */
    text-align: center;
  }
  